<div #container class="col-12 w-100 h-100" (window:resize)="onResize()">

    <div id="blocker">

        <div id="instructions" class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="d-inline-flex">Click to play</h1>
            <ul class="d-inline-flex flex-column justify-content-center align-items-center">
                <li>Pause: Escape</li>
                <li>Move: W A S D</li>
                <li>Look: Mouse</li>
                <li>Jump: Space</li>
                <li>New Level: F5</li>
            </ul>
        </div>

    </div>
</div>